*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
min-height:100vh;
background:linear-gradient(135deg,#f3e8ff,#ffffff,#e0f2fe);
display:flex;
align-items:center;
justify-content:center;
}

.register-card{
width:450px;
background:white;
padding:45px;
border-radius:25px;
box-shadow:0 15px 35px rgba(0,0,0,0.12);
text-align:center;
}

.logo{
width:180px;
margin-bottom:20px;
}

.register-card h1{
color:#5b21e6;
font-size:30px;
margin-bottom:8px;
}

.register-card p{
color:#64748b;
margin-bottom:25px;
}

form{
display:flex;
flex-direction:column;
gap:16px;
}

input{
padding:15px;
border:1px solid #d1d5db;
border-radius:12px;
font-size:16px;
outline:none;
}

input:focus{
border-color:#6d28d9;
}

button{
background:#6d28d9;
color:white;
border:none;
padding:15px;
border-radius:12px;
font-size:17px;
font-weight:bold;
cursor:pointer;
}

.login-text{
margin-top:22px;
}

.login-text a{
color:#6d28d9;
font-weight:bold;
text-decoration:none;
}

#message{
margin-top:15px;
font-weight:bold;
}